
/*.domain {
  display: none;
}*/
.tick line {
  stroke: #C0C0BB;
}
.tick text{
  /* font: normal 12px sans-serif !important; */
}
.legendCells text {
  /* font: normal 12px sans-serif !important; */
}

.axis-label, .legend-label {
  fill: #000;
  /* font: normal 14px sans-serif !important; */
}

#xyChart, #xChart, #yChart, #scatter-plot, #grouped-barchart, #stacked-barchart, #stacked100-barchart {
  width: 400px;
  height: 250px;
}

#activity1, #activity2 {
  width: 400px;
  height: 250px;
}

.hidden {
  display:none;
}

ul.legend, ul.legend li {
  display: inline-block;
  margin: 2px;
  /* font: normal 14px sans-serif !important; */
}
#color-circle {
  display:block;
  float:left;
  margin-right:3px;
  width:16px;
  height:16px;
  border-radius:50%;
  opacity: 0.8;
  /* border: 3px solid rgba(0,0,0, 0.25); */
  }

#color-circle:hover {
  width: 18px;
  height: 18px;
}

#color-circle.legend-active {
  background: transparent !important;
  border: 1px solid rgba(0,0,0, 0.5);
  }

  .d3-scatterplot-tooltip, .d3-grouped-barchart-tooltip {
  position:absolute;
  z-index:1000;
  background:rgb(256,256,250,0.7);
  padding:5px 10px;
  border-radius:5px;
  font-size:12px;
  color:#202020;
  min-width:100px;
  width:120px;
  border:0.5px solid #333;
  -webkit-transform:translate(0,-10%);
  transform:translate(0,-10%);
  pointer-events:none;
}
