.chart {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar-sedentary {
	fill: #fee5d9; /*sedentary*/
}

.bar-light {
	fill: #fcae91; /*light*/
}

.bar-moderate {
	fill: #fb6a4a; /*moderate */
}

.bar-vigorous {
	fill: #de2d26;/*#cb181d;*/ /*vigorous */
}

.bar-sleep {
	fill: #6baed6; /*sleep*/
}

.Poor {
	color: #d7191c;/*#dc3545;*/
}

.Good {
	color: #008837;/*#28a745;*/
}

.tooltip-gantt-old {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    display: none;
    min-width: auto;
    height: auto;
    background: none repeat scroll 0 0 white;
    /*border: 0 none;*/
    border: 1px solid #f3f3f3;
    border-radius: 8px 8px 8px 8px;
    box-shadow: -3px 3px 15px #888888;
    color: black;
    font: 12px sans-serif;
    padding: 5px;
    text-align: left;
}

.tooltip-gantt {
    position: absolute;
    background-color: rgba(255,255,255,1.0);
    color: rgba(0,0,0,1.0);
    padding: 8px;
    z-index: 10000;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    text-align: left;
    pointer-events: none;
    white-space: nowrap;
    background: rgba(255,255,255, 0.8);
    border: none;
    border-radius: 4px;
}

.legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 80%;
}
