* {outline: none !important;}

::selection {
	background-color: #475B6F;
	color: #fff;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	overflow-y: scroll;
}

body {
	color: #6a6a6a;	
	background: #f1f0f0;
}

p {margin: 0 0 20px 0;	}

img {max-width: 100%;}

a {
	text-decoration: none;
	outline: none;
}

a{	
	color: #4da7ca;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	-moz-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
}

a:hover {
	color: #4290ae;	
}


h1, h2, h3, h4, h5, h6{		
	margin: 0 0 15px 0;	
	color: #3A4F52;
	font-family: 'Alegreya Sans';
}

.content-block{
	background:transparent no-repeat center center fixed;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	overflow:hidden;
	padding: 60px 0;
}

/*////////////////////////////////////////////////////////////////////////
//  02 - Header
///////////////////////////////////////////////////////////////////////*/

#header {	
	position: relative;
	padding: 0 !important;
}

#header.header-wrapper {
	background: url(../images/bg.png) no-repeat center right;
	background-size: cover;
	display: table;
	height: 100vh;
	width: 100%;
	position: relative;
	z-index: 1;
	overflow-x: hidden; 
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    #header.header-wrapper {
		height: auto;
		min-height: 100vh;
		padding: 0px; 
	} 
}

#header.header-wrapper .header-wrapper-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle; 
}

#header .top {
	position:fixed;
	top:0;
	width: 100%;
	padding: 20px;
	height: auto;
	z-index: 500;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;	
	transition: all .5s;		
}

#header .top.solid {
    background: #0078b8;/*#0076be;#475B6F;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

#header .top h1{
	margin-bottom: 0;
}
#header .top.solid .navLink {
    padding-top: 8px;
}

/*#header .top.solid .logo {
	color: white;
}*/

#header .logo{
	font-family: 'Alegreya SC';
	color: white;/*#cbcbcb;*/
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
}

#header .navLink {
	font-family: 'Alegreya SC';
	color: white;
	text-decoration: none;
}

#header .navLink {
	font-size: 24px;
	text-transform: uppercase;
}

#header .slogan{
	font-size: 4em;
	margin-bottom: 15px;
	line-height: 1em;
	font-family: 'Nixie One';
	color: white;
	font-weight: 600;
}

#header .secondary-slogan{
	font-size: 2em;
	color: rgba(255,255,255,.5);
	line-height: 1.5em;
	font-family: 'Alegreya SC';
}

#header .bottom {
    bottom: 10%;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 3;
}
#header .bottom a img {
    width: 50px;
}
#header .bottom a {
    opacity: 0.7;
}
#header .bottom a:hover {
    opacity: 1;
}

/*////////////////////////////////////////////////////////////////////////
//  top nav
///////////////////////////////////////////////////////////////////////*/


hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #00b5e1; }



a.navLink:focus:hover,
a.navLink:hover {
		opacity: 0.7;
      /*color: #00b5e1 !important;*/ }
a.navLink:focus.active,
     a.navLink.active {
      opacity: 0.7;/*color: #00b5e1 !important;*/
}
      a.navLink:focus.active:hover,
      a.navLink.active:hover {
        opacity: 0.7 }

/*////////////////////////////////////////////////////////////////////////
//  modal login
///////////////////////////////////////////////////////////////////////*/


#login-form .form-control {
	font-size: 18px;
	position: relative;
	left: 0;
	height: auto;
	padding: 10px 20px;
	box-shadow: 0;
}

.modal {
	padding: 0 15px !important;
	overflow-y: auto;
}

.modal-dialog {
	max-width: 450px;
}

.modal-popup {
	position: relative;
	padding: 30px 30px;
	text-align: center;	
}


.popup-form .form-control {
	margin: 10px 0;
}

.fitbit-logo {
	height: 30px;
}

.btn-fitbit {
	color: #3272aa;
	height: auto;
}

/*////////////////////////////////////////////////////////////////////////
//  10 - Footer
///////////////////////////////////////////////////////////////////////*/


#footer{ background: #0078b8/*#2B3E51*/; color: white;}



/*////////////////////////////////////////////////////////////////////////
//  11 - Responsive styles
///////////////////////////////////////////////////////////////////////*/


@media (max-width: 767px){
	#header .slogan {
		font-size: 2.8em; 
	} 

	#header .secondary-slogan {
		font-size: 1.2em;
	}

	#header .bottom {
		bottom: 13%;
	}

	.blog-post {
		margin-bottom: 40px;
	}

	.recent-work {
		background-position: center;
	}

	.recent-work:before {
		opacity: 1;
	}

	.recent-work span {
		opacity: 1;
	}
}

@media (max-width: 480px) {
	#drawer-right {
		padding: 10px 20px;
	}

	#drawer-right .nav-pills>li>a {
		font-size: 17px;
	}

	.nav-stacked>li+li {
		margin-top: 0;
	}

	.nav>li>a {
		padding: 8px 15px;
	}

	#drawer-right .social {
		margin-top: 5px;
	}

	#header {
		background-size: cover;
	}
}


/*body {
    padding-top: 90px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	background-color: #fff;
	border-color: #fff;
	text-align:center;
	font-weight: bold;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: bold;
	padding: 14px 0;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.login-form-main-message {
  background: #ffffff;
  color: #999999;
  border-left: 3px solid transparent;
  border-radius: 3px;
  margin-bottom: 8px;
  font-weight: bold;
  height: 0;
  padding: 0 20px 0 17px;
  opacity: 0;
  transition: all ease-in-out 200ms;
}
.login-form-main-message.show {
  height: auto;
  opacity: 1;
  padding: 10px 20px 10px 17px;
}
.login-form-main-message.success {
  border-left-color: #2ecc71;
}
.login-form-main-message.error,
.error{
  border-left-color: #e74c3c;
  color: red;
}
*/