html {
  position: relative;
  min-height: 100%;
  width: 100%;
}

body {
	padding-top: 70px;
	margin-bottom:150px;
	height:100%;
}


#login-submit {
	color:#fff;
}

.panel-heading-lg {
	padding: 15px 15px 20px 15px;
}

#visualize {
	padding: 4px 12px;
}

.nvtooltip {
	border: none;
}

#dataTable {
	table-layout:fixed;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
text-transform: capitalize
}

/*svg {
	width:100vw;
}*/
#alldataChart {
	padding-left:0px;
}

.nvd3, .nvd3-svg {
	width:100% !important;
}

.modal-header-primary {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #428bca;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

#chart .nv-series:nth-child(1) {
  display: none;
}

.nv-focus .nv-groups .nv-group {
	fill-opacity: 0.8 !important;
	stroke-width:0.1 !important;
}

.nv-bars rect, .nv-group .nv-bar {
	fill-opacity: 1 !important;
	stroke-width:0.1 !important;
}

.svg-lg svg{
  height: 230px;
}

input[type=number] {
	width: 5em !important;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  height: 50px;
}

.loader {
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: 100px;
    margin-top: 50px;
    z-index:2;
    overflow: auto;
}

#header {
	background: #0078b8/*#2B3E51*/;
}

#header a {
	color: white !important;
	opacity: 0.7;
}

#footer{
	background: #0078b8/*#2B3E51*/;
	color: white;
	position:absolute;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;

}

#footer img {
	max-width:100%;
}

.bg-custom {
	background: #0078b8;
}

.border-selection1 {
	border: 2px solid;
	border-color: #008837;
}

.text-selection1 {
	color: #008837;
}

.border-selection2 {
	border: 2px solid;
	border-color: #7b3294;
}

.text-selection2 {
	color: #7b3294;
}

.border-comparison {
	border: 2px solid;
	border-color: #d95f02;
}

.text-comparison {
	color: #d95f02;
}

#dataFormDiv .col-sm-6,
#dataTablePanel .col-sm-6,
#dataTablePanel .col-sm-12 {
	padding-right: 10px;
	padding-left: 10px;
}

@media print {
	.border-selection1,
	.border-selection2,
	.border-comparison {
		page-break-inside: avoid !important;
	}
	#compareDiv {
		page-break-before: always !important;
	}
  footer {
   display: none;
  }
  .container {
    width: 100vw;
    min-width: 1000px;
  }
}
